<div class="row">
	<div class="large-2 columns">
		<nav id="top-left" ><h6>social links will go here</h6></nav>
	</div>
	<div class="large-10 columns">
		<h1>ELLISON ASTON</h1>
	</div>
 		<%= javascript_include_tag "welcome" %>
</div>

