<div class="row">
	<div class="large-2 columns">
		<nav id="top-left" ><h6>social links will go here</h6></nav>
	</div>
	<div class="large-10 columns">
		<h1>ELLISON ASTON</h1>
	</div>
		<div class="centered-row">
	  		<div class="large-10 large-centered columns">10 centered</div>
		</div>

 		<%= javascript_include_tag "welcome" %>
</div>

<ul class="side-nav">
  <li><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>
