<div class="row">
	<div class="medium-2 columns">
		<nav id="top-left" ><h6>social links will go here</h6></nav>
	</div>
	<div class="medium-10 columns">
		<h1>ELLISON ASTON</h1>
	</div>
 		<%= javascript_include_tag "welcome" %>
</div>

<ul class="side-nav">
  <li><a href="#">Place for a Link</a></li>
  <li><a href="#">Place for a Link</a></li>
  <li><a href="#">Place for a Link</a></li>
  <li><a href="#">Place for a Link</a></li>
</ul>

