<div class="row">
	<div class="large-2 columns">
		<nav id="top-left" ><h6>social links will go here</h6></nav>
	</div>
	<div class="large-10 columns">
		<h1>ELLISON ASTON</h1>
	</div>
		
		<div class="centered-row">
	  		<div class="large-2 columns">side nav will go here</div>
	  		<div class="large-9 large-offset-1 columns"><img id="FPF" src="/PE-PLACEHOLDER.jpg"></a></div>
		</div>

		<ul class="medium-block-grid-3">
			  <li>GALLERY 1</li>
			  <li>GALLERY 2</li>
			  <li>GALLERY 3</li>
		</ul>
 		<%= javascript_include_tag "welcome" %>
</div>


